**/node_modules
**/node_modules/**
.pnpm-store
.pnpm

**/.next
**/.next/**
**/.next-build
**/.next-build/**
**/dist
**/dist/**
**/.turbo
**/.turbo/**
.turbo

.git
.gitignore
.gitattributes

*.md
*.log
*.tsbuildinfo
*.swp
*.swo
*.db
*.db-shm
*.db-wal
.DS_Store

.env
.env.local
.env.*.local

out
build
coverage
.nyc_output
.cache
.pnp.*
.yarn
.idea
.vscode
.eslintcache
.prettiercache

